.moving-money-forward{
    & + .news-carousel{
        margin-top: 0;
    }
}
.homepage{
    // .news-carousel{
    //     background: $c-0a;
    // }
    .CTA-form.about-style{
        overflow: hidden !important;
    }
}
.news-carousel{
    overflow: initial !important; 
    //margin-top: -130vh;
    //background:linear-gradient(to bottom ,#212323, #0a1517);
    position: relative;
    z-index: 1 !important;
    //margin-top: calc(100vh + 254px);
    @media (max-width: 768px) {
    //padding: 140px 0 calc(30vh + 140px) 0;
    }
    &:hover{

            &:after{
               // transform: translate(-50%,-50%) scale(1.5);
            }
        
        
    }
    &:after{
            content: "";
            width: 1280px;
            height: 638px;
            max-width: 100%;
            max-height: 100vh;
            background: rgba(0, 197, 162, 0.33);
            border-radius: 50%;
            filter: blur(86px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            transition: transform 6s;
            @media(max-width:768px){
                width: 70%;
                height: 100%;
  
                
            }

        }
        
        
    &:before{
       // content: "";
        width: 100vw;
        height: calc(100% - 184px);
        background: $c-black;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        z-index: 1;
    }
    .boxed{
        padding: 120px 0 120px 0;
        position: relative;
        z-index: 2;
        margin: 0 0px 0 16px;
        overflow: hidden;
        @media (max-width: 1440px) {
            margin: 0 0 0 20px;
        }
        @media (max-width: 992px) {
            padding: 70px 0;
        }
        @media (max-width: 768px) {
            padding: 40px 0;
            margin:  0 0 0 16px;
        }
    }
    &.boxed{
        max-width: 1404px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1400px) {
            padding: 0 30px;
        }
        @media (max-width: 992px) {
            padding: 0 16px;
        }
        @media (max-width: 768px) {
            display: block;
        }
        
    }
    .heading{
        width: 100%;
        margin-bottom: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            
            color: $c-white;
            margin: 0;
        }
    }
    .title-box{
        width: 463px;
        //padding-right: 28px;
        @media (max-width: 1400px) {
            width: 33vw;
        }
        @media (max-width: 1300px) {
            width: 30%;
        }
        @media (max-width: 992px) {
            width: 260px;
        }
        @media (max-width: 768px) {
            width: 100%;
            padding: 0;
            margin-bottom: 32px;
        }
        .slider-block{
            height: 100%;
        }
        .box{
            border-radius: 24px;
            display: block;
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $c-black;
            padding: 42px 46px;
            height: 100%;
            border: 2px solid $c-white;
            
            @media (max-width: 1300px) {
                padding: 40px 20px;
            }
            @media (max-width: 768px) {
                padding: 30px 20px;
            }
            .title{
                    @media (max-width: 768px) {
                        margin-bottom: 16px;
                    }
                h2{
                    color: rgba(255,255,255,0.25);
                    @include size-48-09;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    cursor: pointer;
                    transition: all 0.2s;
                    @media (max-width: 1300px) {
                        font-size: 35px;
                    }
                    @media (max-width: 992px) {
                        font-size: 30px;
                    }
                    &.active{
                        color: $c-02;
                    }
                    &:hover{
                        @media (min-width: 768px) {
                            color: $c-02;
                        }
                    }
                }
            }
            .text{
                
                p{
                    color: $c-de;
                    @include size-14-16;
                    margin-bottom: 0;
                    transform: translate(0,-2px);
                }
            }
            .links{
                display: flex;
                align-items: center;
                padding-bottom: 4px;
                .prev-and-next{
                    display: flex;
                    a{
                        display: block;
                        width: 44px;
                        height: 44px;
                        border: 2px solid $c-green;
                        border-radius: 50%;
                        margin-right: 8px;
                        position: relative;
                        &:before,&:after{
                            content: "";
                            width: 20px;
                            height: 20px;
                            
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            z-index: 1;
                            transform: translate(-50%,-50%);
                            transition: all 0.2s;
                            @media(max-width:768px){
                                right: 8px;
                            }
                        }
                        &:before{
                            background-image: url('../icons/arrow-narrow-right-2.svg');
                        }
                        &:after{
                            background-image: url('../icons/arrow-narrow-right-2-hover.svg');
                            opacity: 0;
                        }
                        &:not(.no-drop){
                             &:hover{
                                background: $c-green;
                                color: $c-black !important;
                                &:before{
                                    opacity: 0;
                                }
                                &:after{
                    
                                    opacity: 1;
                                }
                                
                            }
                        }
                       
                        &.prev{
                            &:before,&:after{
                                transform: translate(-50%,-50%) rotate(180deg);
                            }
                        }
                        &.no-drop{
                            cursor: no-drop;
                            opacity: 0.25;
                            
                        }
                    }
                }
                .number{
                    margin-left: 8px;
                    span{
                        font-family: $f-sr;
                        font-size: 16px;
                        line-height: 1.6;
                        color: $c-white;
                    }
                    
                }
            }
        }
    }
    .content{
        width: calc(100% - 463px);
        
        position: relative;
        @media (max-width: 1400px) {
            width: calc(100% - 33vw);
        }
        @media (max-width: 1300px) {
            width: 70%;
        }
        @media (max-width: 992px) {
            width: calc(100% - 260px);
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .news-carousel-slider{
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
        
        margin-right: -72px;
        
        @media (min-width: 1441px) {
            margin-right: calc(649px - 50vw);
        }
        @media (max-width: 768px) {
            margin-right: -16px;
        }
        &.active{
            position: static;
            opacity: 1;
            visibility: visible;
        }
        .slick-list{
            float: none;
            display: flex !important;
            padding-left: 28px;
            border-radius: 24px 0 0 24px;
            @media (max-width: 992px) {
                padding-right: 70px;
                padding-left: 20px;
            }
            @media (max-width: 768px) {
                padding-left: 0;
            }
            @media (max-width: 556px) {
                padding-right: 40px;
            }
        }
        .slick-track{
            float: none;
            display: flex !important;
            margin: 0;
        }
        .slider-block{
            margin-right: 28px;
            float: none;
            width: 681px;
            @media (max-width: 1400px) {
                width: 50vw;
            }
            @media (max-width: 1300px) {
                width: 60vw;
            }
            @media (max-width: 992px) {
                margin-right: 20px;
            }
            &:first-child{
                
            }
            
            a.box{
                &:hover{
                    .img-and-text{
                        .img{
                            img{
                                transform: scale(1.05);
                            }
                        }
                    }
                    .arrow-link{
                        &:before{
                            opacity: 0.7;
                        }
                    }
                }
            }
            .box{
                background: #F4F4F4;
                padding: 28px;
                border-radius: 24px;
                display: block;
                position: relative;
                z-index: 2;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 480px;
                @media (max-width: 992px) {
                    padding: 28px 20px;
                }
                @media (max-width: 768px) {
                    min-height: auto;
                }
                &:before{
                    content: "";
                    width: 292px;
                    height: 100%;
                    position: absolute;
                    background-image: url('../icons/Circle.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    @media (max-width: 992px) {
                        width: 70%;
                    }
                }
                * {
                    position: relative;
                    z-index: 2;
                }
                
                .img-and-text{
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 36px;
                    @media (max-width: 768px) {
                        display: block;
                        margin-bottom: 16px;
                    }
                    .img{
                        width: 164px;
                        overflow: hidden;
                        border-radius: 16px;
                        @media (max-width: 992px) {
                            width: 120px;
                        }
                        @media (max-width: 768px) {
                            margin-bottom: 15px;
                        }
                        img{
                            transition: all 0.2s;
                                aspect-ratio: 164/200;
                                object-fit: cover;
                        }
                    }
                    .text-box{
                        width: calc(100% - 164px);
                        padding-left: 28px;
                        @media (max-width: 992px) {
                            width: calc(100% - 120px);
                        }
                        @media (max-width: 768px) {
                            width: 100%;
                            padding: 0;
                        }
                        h2{
                            color: $c-black;
                            text-transform: uppercase;
                            @include size-48-09;
                            margin-bottom: 28px;
                            padding-top: 4px;
                            @media (max-width: 1300px) {
                                font-size: 35px;
                            }
                            @media (max-width: 992px) {
                                font-size: 30px;
                            }
                            @media (max-width: 768px) {
                                margin-bottom: 16px;
                            }
                        }
                        p{
                            color: $c-black;
                            @media (max-width: 768px) {
                                display: none;
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .cat-box{
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 192px;
                    position: relative;
                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                    .cat-item{
                        margin: 8px 8px 0 0;
                    }


                }
                .arrow-link{
                    width: 40px;
                    height: 40px;
                    background: #F4F4F4;

                    display: block;
                    position: absolute;
                    right: 28px;
                    bottom: 28px;
                    z-index: 2;
                    &:before{
                        content: "";
                        width: 24px;
                        height: 24px;
                        background-image: url('../icons/arrow-right-black.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 3;
                        transition: all 0.2s;
                    }
                    &:after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: rgba(51, 51, 51, 0.1);
                        backdrop-filter: blur(20px);
                        border-radius: 40px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
                    span{
                        content: "";

                        width: 16px;
                        height: 30px;
                        left: -16px;
                        background: linear-gradient(90deg, rgba(244, 244, 244, 0) 0%, #F4F4F4 100%);
                        position: absolute;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
