.moving-money-forward {
    overflow: initial !important;
    padding: 144px 0 254px 0;
    position: relative;
    z-index: 8;
    //padding-bottom: calc(100vh + 254px);
    padding-bottom: calc(0vh + 136px);
    @media (max-width: 768px) {
        //padding: 140px 0 calc(30vh + 140px) 0;
        padding: 140px 0 calc(0vh + 140px) 0;
        // &:not(.is-home) {
        //     &:after {
        //         content: "";
        //         width: 100%;
        //         height: calc(30vh + 120px);
        //         z-index: 1;
        //         //background: $c-black;
        //         position: absolute;
        //         bottom: 0;
        //         left: 0;
        //         z-index: 2;
        //         background-image: linear-gradient(
        //             to bottom,
        //             rgba(10, 21, 23, 0) 0%,
        //             rgb(10, 21, 23) 10%,
        //             rgb(10, 21, 23) 100%
        //         );
        //     }
        // }
    }
    video,
    canvas {
        object-fit: cover !important;
    }
    & + .CTA-form {
        margin-top: -100vh;

        padding-bottom: 70px;

        .boxed {
            margin-bottom: 0;
        }
        & + footer {
        }
    }
    .moving-money-forward-box {
        padding-top: 237px;
        position: relative;
        &.is-active {
            position: static;
        }
    }
    // &:not(.is-home) {
    //     &:before {
    //         content: "";
    //         width: 100%;
    //         height: 100%;
    //         background: $c-0a;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         z-index: 1;
    //         @media (max-width: 768px) {
    //             top: 0;
    //         }
    //     }
    // }
    #moving-money-forward-video-desktop {
        @media (max-width: 768px) {
            display: none !important;
        }
    }
    #moving-money-forward-video-mobile {
        display: none !important;
        @media (max-width: 768px) {
            display: block !important;
        }
        @media (max-width: 556px) {
        }
        video {
            height: 100vw !important;
            position: static !important;
            -webkit-transform: none !important;
            transform: none !important;
        }
        canvas {
            width: 610px !important;
        }
    }
    .moving-money-forward-video {
        display: none;
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //height: calc(100% - 100vh);
        height: 100%;
        z-index: 1;
        &:before {
            content: "";
            width: 100%;
            height: 100px;
            background: linear-gradient(to bottom, #0a1517, rgba(10, 21, 23, 0));
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .video-box {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .bg-img {
        position: absolute;
        top: -184px;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 2626px;
        z-index: 1;
        @media (max-width: 768px) {
            top: -70px;
            height: calc(100% + 170px);
        }
        &:before {
            content: "";
            width: 1782px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);

            background-image: url("../icons/moving-money-forward-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media (min-width: 1600px) {
                width: 100%;
            }
        }
    }

    .container {
        position: relative;
        z-index: 3;
        max-width: 1269px;
    }
    .content-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 768px) {
            display: block;
        }
        .title-item {
            width: 51.1%;
            position: sticky;
            top: 80px;
            left: 0;
            z-index: 2;
            min-height: calc(100vh - 80px);
            @media (max-width: 768px) {
                width: 100%;
                position: relative;
                min-height: auto;
                margin-bottom: 60px;
                top: 0;
            }
            p {
                color: $c-white;
                max-width: 356px;
                @include size-14-16;
                margin-bottom: 32px;
                @media (max-width: 768px) {
                    margin-bottom: 30px;
                    max-width: 100%;
                    font-size: 14px;
                    line-height: 1.6;
                    padding-right: 42px;
                }
            }
            h2 {
                color: $c-white;
                line-height: 0.82;
                max-width: 356px;
                margin-bottom: 32px;
                @media (max-width: 768px) {
                    max-width: 100%;
                    margin-bottom: 31px;
                    font-size: 60px;
                    line-height: 0.82;
                }
            }
            .share-item {
                display: none !important;
                width: 24px;
                position: absolute;
                bottom: 40px;
                right: -100%;
                transform: translate(28px, 0);
                @media (max-width: 1430px) {
                    right: calc(-100% + 15px);
                }
                @media (max-width: 768px) {
                    width: auto;
                    display: flex;
                    transform: none;
                    margin-top: 16px;
                    bottom: 12px;
                    right: 0;
                    transform: none;
                }
                a {
                    display: block;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 24px;
                    height: 24px;
                    margin-top: 16px;
                    @media (max-width: 768px) {
                        margin: 0;
                        margin-right: 16px;
                    }
                    &.icon-linkedin {
                        background-image: url("../icons/Linkedin.svg");
                    }
                    &.icon-youtube {
                        background-image: url("../icons/YouTuBe.svg");
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        .boxed-item {
            width: 48.9%;
            max-width: 518px;
            position: relative;
            @media (max-width: 768px) {
                width: 100%;
                max-width: 100%;
            }
            .img {
                position: absolute;
                top: 238px;
                left: 51px;
                transform: translate(-100%, 0);
                width: 446px;
                height: 476px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: 0;
                transition: opacity 0.4s;
                @media (max-width: 768px) {
                    display: none;
                }
            }
            &.show-img {
                .img {
                    opacity: 1;
                }
            }
            .box {
                display: block;
                background: $c-black;
                border: 2px solid $c-white;
                border-radius: 24px;
                padding: 30px 38px 37px 30px;
                margin-bottom: 24px;
                position: relative;
                @media (max-width: 768px) {
                    padding: 28px 25px 30px 25px;
                    &:nth-child(2) {
                        margin-bottom: 352px;
                    }
                }
                &:hover {
                    background: $c-green;
                    .icon-arrow-icon {
                        background: rgba(51, 51, 51, 0.1);
                        &:before {
                            color: $c-black;
                        }
                    }
                    span {
                        color: $c-black;
                    }
                    h3,
                    p {
                        color: $c-black;
                    }
                }
                .icon-arrow-icon {
                    color: $c-white;
                    font-size: 12px;
                    background: rgba(201, 201, 201, 0.25);
                    backdrop-filter: blur(20px);
                    border-radius: 40px;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 30px;
                    right: 39px;
                    z-index: 1;
                    transition: all 0.2s;
                    @media (max-width: 768px) {
                        top: 24px;
                        right: 24px;
                    }
                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.2s;
                    }
                }
                span {
                    display: block;
                    font-size: 32px;
                    font-family: $f-vsb;
                    line-height: 1;
                    color: $c-white;
                    margin-bottom: 87px;
                    transition: all 0.2s;
                    @media (max-width: 768px) {
                        margin-bottom: 73px;
                    }
                }
                h3 {
                    color: $c-green;
                    @include size-48-09;
                    margin-bottom: 20px;
                    transition: all 0.2s;
                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                        //font-size: 40px;
                        // line-height: 0.9;
                    }
                }
                p {
                    color: $c-white;
                    @include size-14-16;
                    transition: all 0.2s;
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
