@charset "UTF-8";
html {
//  &.show-c{
//      .wowo {
//          opacity: 1;
//      }
//  }
    .wowo {
        opacity: 0;
        &.animated{
            animation-duration: 0.7s;
            visibility: visible;
            animation-fill-mode: both;
        }
    }
}

.zoomOut{
      &.animated {
        animation-name: zoomOut;
      }
  }

 @keyframes zoomOut {
      0% {
        opacity: 0;
        transform: translate(0, 0) scale(1.05);
      }
      to {
        opacity: 1;
        transform: translate(0, 0) scale(1);
      }
  }

@keyframes hvr-wobble-horizontal {
 16.65% {
		transform:translateX(8px);
	}
	33.3% {
		transform:translateX(-6px);
	}

	49.95% {
		transform:translateX(4px);
	}

	66.6% {
		transform:translateX(-2px);
	}

	83.25% {
		transform:translateX(1px);
	}

	100% {
		transform:translateX(0px);
	}
}
@-o-keyframes hvr-wobble-horizontal {
 16.65% {
		transform:translateX(8px);
	}
	33.3% {
		transform:translateX(-6px);
	}

	49.95% {
		transform:translateX(4px);
	}

	66.6% {
		transform:translateX(-2px);
	}

	83.25% {
		transform:translateX(1px);
	}

	100% {
		transform:translateX(0px);
	}
}
@-moz-keyframes hvr-wobble-horizontal {
 16.65% {
		transform:translateX(8px);
	}
	33.3% {
		transform:translateX(-6px);
	}

	49.95% {
		transform:translateX(4px);
	}

	66.6% {
		transform:translateX(-2px);
	}

	83.25% {
		transform:translateX(1px);
	}

	100% {
		transform:translateX(0px);
	}
}
@-webkit-keyframes hvr-wobble-horizontal {
 16.65% {
		transform:translateX(8px);
	}
	33.3% {
		transform:translateX(-6px);
	}

	49.95% {
		transform:translateX(4px);
	}

	66.6% {
		transform:translateX(-2px);
	}

	83.25% {
		transform:translateX(1px);
	}

	100% {
		transform:translateX(0px);
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fadeInUpto {
  &.animated {
    animation-name: fadeInUpto;
    animation-delay: 0.5s;
  }
}

@keyframes fadeInUpto {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fadeInUptos {
  &.animated {
    animation-name: fadeInUptos;
    animation-delay: 0.8s;
  }
}

@keyframes fadeInUptos {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
@keyframes fadeInBigUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(30%, 0, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}

.fadeInLeft {
  &.animated {
    animation-name: fadeInLeft;
  }
}

.fadeInRight {
  &.animated {
    animation-name: fadeInRight;
  }
}

.fadeIn {
  &.animated {
    animation-name: fadeIn;
  }
}

.fadeInUp {
  &.animated {
    animation-name: fadeInUp;
  }
}

.fadeInBigUp {
  &.animated {
    animation-name: fadeInBigUp;
  }
}

.fadeInDown {
  &.animated {
    animation-name: fadeInDown;
  }
}

@for $i from 1 through 100 {
  .delay-in-#{$i} {
    animation-delay: #{$i * 0.1s};
  }
}

@for $i from 1 through 100 {
  .transition-delay-in-#{$i} {
    transition-delay: #{$i * 0.1s} !important;
  }
}

@keyframes myleft {
  50% {
      -o-transform: translate(8px,0);
      -moz-transform: translate(8px,0);
      -webkit-transform: translate(8px,0);
      transform: translate(8px,0);
  }
  100% {
      -o-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
  }
}
@-o-keyframes myleft {
  50% {
      -o-transform: translate(8px,0);
      -moz-transform: translate(8px,0);
      -webkit-transform: translate(8px,0);
      transform: translate(8px,0);
  }
  100% {
      -o-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
  }
}
@-moz-keyframes myleft {
  50% {
      -o-transform: translate(8px,0);
      -moz-transform: translate(8px,0);
      -webkit-transform: translate(8px,0);
      transform: translate(8px,0);
  }
  100% {
      -o-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
  }
}
@-webkit-keyframes myleft {
  50% {
      -o-transform: translate(8px,0);
      -moz-transform: translate(8px,0);
      -webkit-transform: translate(8px,0);
      transform: translate(8px,0);
  }
  100% {
      -o-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
  }
}

@keyframes myright {
  50% {
      -o-transform: rotate(180deg)translate(8px,0);
      -moz-transform: rotate(180deg)translate(8px,0);
      -webkit-transform: rotate(180deg)translate(8px,0);
      transform: rotate(180deg)translate(8px,0);
  }
  100% {
      -o-transform: rotate(180deg)translate(0,0);
      -moz-transform: rotate(180deg)translate(0,0);
      -webkit-transform: rotate(180deg)translate(0,0);
      transform: rotate(180deg)translate(0,0);
  }
}
@-o-keyframes myright {
  50% {
      -o-transform: rotate(180deg)translate(8px,0);
      -moz-transform: rotate(180deg)translate(8px,0);
      -webkit-transform: rotate(180deg)translate(8px,0);
      transform: rotate(180deg)translate(8px,0);
  }
  100% {
      -o-transform: rotate(180deg)translate(0,0);
      -moz-transform: rotate(180deg)translate(0,0);
      -webkit-transform: rotate(180deg)translate(0,0);
      transform: rotate(180deg)translate(0,0);
  }
}
@-moz-keyframes myright {
  50% {
      -o-transform: rotate(180deg)translate(8px,0);
      -moz-transform: rotate(180deg)translate(8px,0);
      -webkit-transform: rotate(180deg)translate(8px,0);
      transform: rotate(180deg)translate(8px,0);
  }
  100% {
      -o-transform: rotate(180deg)translate(0,0);
      -moz-transform: rotate(180deg)translate(0,0);
      -webkit-transform: rotate(180deg)translate(0,0);
      transform: rotate(180deg)translate(0,0);
  }
}
@-webkit-keyframes myright {
  50% {
      -o-transform: rotate(180deg)translate(8px,0);
      -moz-transform: rotate(180deg)translate(8px,0);
      -webkit-transform: rotate(180deg)translate(8px,0);
      transform: rotate(180deg)translate(8px,0);
  }
  100% {
      -o-transform: rotate(180deg)translate(0,0);
      -moz-transform: rotate(180deg)translate(0,0);
      -webkit-transform: rotate(180deg)translate(0,0);
      transform: rotate(180deg)translate(0,0);
  }
}


@keyframes bgmyleft {
  50% {
       background-position: 60% center;
  }
  100% {
       background-position: center center;
  }
}
@-moz-keyframes bgmyleft {
  50% {
       background-position: 60% center;
  }
  100% {
       background-position: center center;
  }
}
@-o-keyframes bgmyleft {
  50% {
       background-position: 60% center;
  }
  100% {
       background-position: center center;
  }
}

@-webkit-keyframes bgmyleft {
  50% {
       background-position: 60% center;
  }
  100% {
       background-position: center center;
  }
}

