$c-white: #ffffff;
$c-000:#000000;
$c-black: #212323;





$c-4d:#4D4F4F;
$c-00c5:#00C5A2;
$c-64:#646565;
$c-02:#02D7B2;
$c-green:#02D7B2;
$c-f2:#F2F2F2;
$c-bc:#BCBDBD;
$c-de:#DEDEDE;
$c-a6:#A6A7A7;
$c-67:#67E7D1;
$c-37:#373939;
$c-f4:#F4F4F4;
$c-2d:#2D2D31;
$c-81:#818181;
$c-7a:#7A7B7B;
//$c-9a:#9AEFE0;
$c-9a:#67E7D1;
$c-0a:#0A1517;

$f-sm:"Suisse Int l-Medium", sans-serif;
$f-sb:"Suisse Int l-Bold",  sans-serif;
$f-sl:"Suisse Int l-Light",  sans-serif;
$f-ssb:"Suisse Int l-SemiBold",  sans-serif;
$f-sr:"Suisse Int l-Regular",  sans-serif;
$f-vsb:"VVDSFifties-SExpSBold",  sans-serif;
$f-msb:"Manrope-SemiBold",  sans-serif;


